/clever/.idea
/clever/.settings
/clever/clever.samples/target
/clever/clever.iml
/clever/cleverframework/cleverframework.iml
/clever/cleverframework/target
/clever/cleverframework/.settings
/clever/cleverframework/.classpath
/clever/cleverframework/.project
/clever/clever.trader/target
/clever/clever.trader/clever.trade.iml
/clever/clever.trader/clever.trader.iml
/clever/clever.samples/clever.samples.iml
/clever/clever.samples/.idea
/clever/.project
/.idea/cleverframework.iml
/.idea/cleverframework.iml___jb_tmp___
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/clever/clever.samples.beans/clever.samples.beans.iml
